<!DOCTYPE html>
<html>

<head>
  <title>Simple Map</title>
  <meta name="viewport" content="initial-scale=1.0">
  <meta charset="utf-8">
  <link rel="stylesheet" href="styles.css">
</head>

<body>
  <div id="map"></div>

  <form id="report-form" class="report-submission" action="/submitReport" method="POST">
    <select id="report-type" name="reportType"> +
        <option value="Social" selected>Social</option>
        <option value="Environmental">Environmental</option>
        <option value="Biological">Biological</option>
    </select>
    <div class="report-location-name">
      <label for="location-name">Name:</label>
      <input type="text" id="location-name" name="locationName" />
    </div>
    <div class="report-description">
      <label for="r-description">Description:</label>
      <input type="text" id="report-desc" name="reportDesc" />
    </div>
    <div class="report-submission">
      <input type="submit" value="Submit Report"/>
    </div>
    <input id="location-lat" type="hidden" name="locationLat">
    <input id="location-lng" type="hidden" name="locationLng">
  </form>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script>
    var markers = [];
    var map;
    var infowindow;

    function initMap() {
      var Toronto = {
        lat: 43.6532,
        lng: -79.3832
      };

      map = new google.maps.Map(document.getElementById('map'), {
        center: Toronto,
        zoom: 11
      });

      infowindow = new google.maps.InfoWindow({
        content: document.getElementById("report-form")
      });

      map.addListener('click', function(event) {
        addMarker(event.latLng);
      });

      $.ajax({
        type: "GET",
        url: "http://localhost:8080/getReports",
        success: function(data) {
          if (data.length > 0) {
            for (var i = 0; i < data.length; i++) {
              addMarker({
                lat: data[i].location.lat,
                lng: data[i].location.lng
              });
              console.log('Name: ' + data[i].location.name);
              console.log('Latitude: ' + data[i].location.lat);
              console.log('Longtitude: ' + data[i].location.lng);
              console.log('=======================');
            }
          }
        },
        // error: function(jqXHR, textStatus, err) {
        //   //show error message
        //   alert('text status '+textStatus+', err '+err)
        // }
      });
      // $.get('localhost:8080/getReports', function (data) {
      //   console.log(data);
      // });
    };

    function addMarker(location) {
      let marker = new google.maps.Marker({
        position: location,
        map: map
      });
      document.getElementById('location-lat').value = marker.getPosition().lat();
      document.getElementById('location-lng').value = marker.getPosition().lng();
      markers.push(marker);
      markers[markers.length - 1].addListener('click', function() {
        infowindow.open(map, this);
      });
    };

    function output() {
      console.log(document.getElementById('report-type').value);
      console.log(document.getElementById('location-name').value);
      console.log(document.getElementById('r-description').value);
    };
  </script>
  <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBtYZYjBYgbfX96dGUCJY8Pf579U--aubU&callback=initMap">
  </script>
</body>

</html>
